<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">





  <ion-grid>
    <!-- ... konten lain ... -->
    <ion-row>
        <ion-col>
            <ion-list>

                <ion-item>
                    <ion-icon name="person" class="icon-login"></ion-icon>
                    <ion-input [(ngModel)]="username" name="user" type="text" required placeholder="Username"></ion-input>
                </ion-item>
                <br />
                <ion-item>
                    <ion-icon name="lock-closed-outline" class="icon-login"></ion-icon>
                    <ion-input [(ngModel)]="password" name="password" type="password" required placeholder="Password"></ion-input>
                </ion-item>

            </ion-list>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button type="submit" fill="solid" expand="full" (click)="login()">
                Login
            </ion-button>
        </ion-col>
    </ion-row>
    <!-- ... konten lain ... -->
</ion-grid>
<ion-row *ngIf="showError">
  <ion-col>
      <ion-text color="danger">
          {{ errorMessage }}
      </ion-text>
  </ion-col>
</ion-row>

</div>
