<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      History Absensi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <body>

    
    
    <table id="customers">
      <tr>
        <th>Tanggal</th>
        <th>Nama</th>
        <th>NPM</th>
      </tr>
      <tr>
        <td>09 Januari 2024</td>
        <td>Muhamad Alwin Praja Kusumah</td>
         <td>14210013</td>
    
      </tr>
     
    </table>
    
    </body>
  
   

</ion-content>
